<!DOCTYPE html>
<html lang="zh-CN">
<header>
    <% include ../common/header.ejs %>
    <link href="/css/artistlist.css" rel="stylesheet">
</header>
<body>
<% include ../common/navbar.ejs %>
<% include ../common/login.ejs %>
<% include ../common/weixin.ejs %>

<div class="container">
    <div class="col-lg-4 artist-list">
        <div class="list-header">
            <h3>热门音乐作品</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="cover"><img src="images/cover.png" href="#"></div>
                <div class="detail">
                    <h4>测试作品1</h4>
                    <p>作者 <a href="/profile">蒋大卫</a></p>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
                <div class="cover"><img src="images/cover.png" href="#"></div>
                <div class="detail">
                    <h4>测试作品1</h4>
                    <p>作者 <a href="/profile">蒋大卫</a></p>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
                <div class="cover"><img src="images/cover.png" href="#"></div>
                <div class="detail">
                    <h4>测试作品1</h4>
                    <p>作者 <a href="/profile">蒋大卫</a></p>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
                <div class="cover"><img src="images/cover.png" href="#"></div>
                <div class="detail">
                    <h4>测试作品1</h4>
                    <p>作者 <a href="/profile">蒋大卫</a></p>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
                <div class="cover"><img src="images/cover.png" href="#"></div>
                <div class="detail">
                    <h4>测试作品1</h4>
                    <p>作者 <a href="/profile">蒋大卫</a></p>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>
    <div class="col-lg-4 artist-list">
        <div class="list-header">
            <h3>热门视频作品</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="cover"><img src="images/cover.png" href="#"></div>
                <div class="detail">
                    <h4>测试作品1</h4>
                    <p>作者 <a href="/profile">蒋大卫</a></p>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
                <div class="cover"><img src="images/cover.png" href="#"></div>
                <div class="detail">
                    <h4>测试作品1</h4>
                    <p>作者 <a href="/profile">蒋大卫</a></p>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
                <div class="cover"><img src="images/cover.png" href="#"></div>
                <div class="detail">
                    <h4>测试作品1</h4>
                    <p>作者 <a href="/profile">蒋大卫</a></p>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
                <div class="cover"><img src="images/cover.png" href="#"></div>
                <div class="detail">
                    <h4>测试作品1</h4>
                    <p>作者 <a href="/profile">蒋大卫</a></p>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
                <div class="cover"><img src="images/cover.png" href="#"></div>
                <div class="detail">
                    <h4>测试作品1</h4>
                    <p>作者 <a href="/profile">蒋大卫</a></p>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div><div class="col-lg-4 artist-list">
        <div class="list-header">
            <h3>热门设计作品</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="cover"><img src="images/cover.png" href="#"></div>
                <div class="detail">
                    <h4>测试作品1</h4>
                    <p>作者 <a href="/profile">蒋大卫</a></p>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
                <div class="cover"><img src="images/cover.png" href="#"></div>
                <div class="detail">
                    <h4>测试作品1</h4>
                    <p>作者 <a href="/profile">蒋大卫</a></p>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
                <div class="cover"><img src="images/cover.png" href="#"></div>
                <div class="detail">
                    <h4>测试作品1</h4>
                    <p>作者 <a href="/profile">蒋大卫</a></p>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
                <div class="cover"><img src="images/cover.png" href="#"></div>
                <div class="detail">
                    <h4>测试作品1</h4>
                    <p>作者 <a href="/profile">蒋大卫</a></p>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
                <div class="cover"><img src="images/cover.png" href="#"></div>
                <div class="detail">
                    <h4>测试作品1</h4>
                    <p>作者 <a href="/profile">蒋大卫</a></p>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>
</div>
<% include ../common/javascripts.ejs %>
</body>
<% include ../common/footer.ejs %>
</html>
