<!DOCTYPE html>
<html lang="zh-CN">
<header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <style type="text/css">
        h2 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }

        img {
            width: 800px;
        }

        .main {
            margin: 0px auto;
            width: 800px;
        }

        strong {
            color: rgb(227, 108, 9);
        }

        audio {
            width: 400px;
            height: 20px;
        }
    </style>
    <title>艺瓣</title>
</header>
<body>
<div class="main">
    <h2>【分享投票赢大奖】免费等你来拿</h2>

    <p>在经过各派长老们的评选后，“天涯明月刀（唐门派）”的主题音乐创作比赛进入到了第二阶段。风起云涌，江湖的命运掌握在大侠你的手里！快来投票吧！</p>

    <img src="/images/contest/contest1.jpg">

    <strong>投票时间：</strong>

    <p>2014年3月31日至4月3日</p>
    <br>
    <strong>参与方式</strong>

    <p>分享本专题到微信朋友圈，说出你支持的作品：</p>
    <p>(建议在wifi环境下欣赏作品)</p>
    <br>
    <br>
    <p>［1］ GDL</p>
    <br>
    <div>
    <audio controls preload="auto">
        <source src="/audio/gdl.mp3">
    </audio>
    </div>
    <br>
    <br>
    <p>［2］ Shimo</p>
    <br>
    <br>
    <div>
    <audio controls preload="auto">
        <source src="/audio/shimo.mp3">
    </audio>
    </div>
    <br>
    <br>
    <p>［3］ Visudy</p>
    <br>
    <br>
    <div>
    <audio controls preload="auto">
        <source src="/audio/visudy.mp3">
    </audio>
    </div>
    <br>
    <br>
    <p>并将分享截图发给艺瓣微信号（ArtsBang）</p>

    <p>我们还为各位大侠准备了丰富的“兵器”，告示将张贴在艺瓣微信号，所以记得一定要关注艺瓣哦！</p>
    <br>
    <strong>奖项设置：分两拨进行抽奖</strong>

    <p>抽奖公布时间</p>

    <p>4月1日下午4点第一批抽奖；</p>

    <p>4月3日下午4点第二批抽奖；</p>
    <br>

    <p>每拨抽奖从前一天和当天参与投票者中随机抽取，每天都可以投哦！</p>
    <br>

    <p>我们的奖品是超级精致的植物大战僵尸水杯哦！</p>
</div>
</body>
</html>
