<!DOCTYPE html>
<html lang="zh-CN">
<header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>艺瓣</title>
    <link href="/css/weixin/contest.css" rel="stylesheet">
</header>
<body>
<p>参赛作品1</p>
<audio src="/audio/test.mp3" controls="controls">
</audio>
<p>参赛作品2</p>
<audio src="/audio/test2.mp3" controls="controls">
</audio>
</body>
</html>
