<div class="container footer">
<div class="footer-row">
    <div class="footer-col">
        <a href="/about">关于艺瓣</a>
    </div>
    <div class="footer-col">
        <a href="/contact">联系我们</a>
    </div>
    <div class="footer-col">
        <a href="/tos">用户协议</a>
    </div>
</div>
</div>
<div class="container footer-end">
    <p>© 2014 艺瓣</p>
</div>