<div id="weixinForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <section class="weixinContainer row">
        <img src="/images/weixin/weixin.jpg">
    </section>
</div>