.contest-container {
   margin-top: 60px;
    min-width: 1170px;
}

.contest-header .contest-img {
    float: left;
    margin-left: 40px;
}

.contest-header .contest-img img{
    width: 600px;
    height: 300px;
}

.contest-header .contest-title {
    float: left;
    margin: 0px 0px 0px 30px;
}

.contest-header .contest-title
h1,
h2{
    font-family: 'Open Sans','Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}

.contest-header .contest-title h1{
    font-size: 30px;
    margin-top: 20px;
}

.contest-header .contest-title .total-award{
     font-size: 25px;
     margin-top: 20px;
     color: #BF3E11;
 }

.contest-header .contest-title .detail-award{
    font-size: 15px;
    margin-left: 30px;
    color: #BF3E11;
}

.contest-header .contest-title h2{
    font-size: 20px;
    margin-top: 20px;
}

.contest-header .contest-title .contest-date{
    float: left;
    width: 200px;
    margin-top: 10px;
}

.contest-header .contest-title .button-group{
    float: left;
    width: 210px;
    margin-top: 10px;
}

.contest-header .contest-title .button-group button{
    width: 200px;
    margin-bottom: 10px;
}

.contest-progress {
    display: inline-block;
    min-width: 1090px;
    margin: 20px 40px 20px 40px;
}

.contest-body {
    font-size: 20px;
    margin: 20px 40px 20px 40px;
}

.contest-body-content{
    margin: 0px 40px 40px 40px;
}