.contest-container {
   margin-top: 60px;
}

.contest-header .contest-img {
    float: left;
    margin-left: 20px;
}

.contest-header .contest-img img{
    width: 500px;
    height: 250px;
}

.contest-header .contest-title {
    float: right;
    margin-right: 10px;
}

.contest-header .contest-title h1{
    font-size: 30px;
    margin-top: 20px;
}

.contest-header .contest-title .total-award{
     font-size: 25px;
     margin-top: 20px;
     color: #BF3E11;
 }

.contest-header .contest-title .detail-award{
    font-size: 15px;
    margin-left: 30px;
    color: #BF3E11;
}

.contest-header .contest-title h2{
    font-size: 20px;
    margin-top: 20px;
}

.contest-header .contest-title .contest-date{
    float: left;
    width: 200px;
    margin-top: 10px;
}

.contest-header .contest-title .button-group{
    float: right;
    width: 200px;
    margin-top: 10px;
}

.contest-header .contest-title .button-group button{
    width: 200px;
    margin-bottom: 10px;
}

/*.contest-progress {*/
    /*display: inline-block;*/
    /*width: 100%;*/
    /*margin: 20px 15px 20px 15px;*/
/*}*/

.contest-body {
    font-size: 20px;
    margin: 20px 20px 10px 20px;
}

.contest-body-content{
    margin: 0px 20px 40px 20px;
}