.register-container {
    margin-top: 80px;
    margin-bottom: 40px;
    /*border: 1px solid #000000;*/
    padding: 20px 20px 60px 20px;
    background: #f4f4f4;
}

.register-form {
    float: left;
    width: 560px;
    border-right: 1px solid #ccc;
}

.form-horizontal .control-group {
    margin-top: 10px;
}

.form-horizontal .control-label {
    float: left;
    width: 60px;
    padding-top: 5px;
    text-align: right;
}

.form-horizontal .controls {
    margin-left: 80px;
}

.form-horizontal .input-xlarge {
    width: 300px;
}

.form-horizontal .error-msg {
   color: #ff0000;
    margin-left: 10px;
}

.register-with {
    width: 400px;
    text-align: center;
    float: right;
    padding: 0px 120px 0px 120px;
}

.register-with-control {
    margin-top: 8px;
}

.register-with-control .btn{
    width: 100%;
}