<div id="loginForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <section class="loginBox row">
        <h2>用户登录</h2>
        <p><input class="form-control" type="text" name="username" placeholder="用户名"/></p>
        <p><input class="form-control" type="text" name="password" placeholder="密码"/></p>
        <p><input type="checkbox" name="rememberme" />下次自动登录</p>
        <p><input type="button" value=" 登录 " class="btn btn-primary form-control"></p>
        <h3>社交网站账号登录</h3>
        <p><img src="/images/login/weibo.gif" />
            <img src="/images/login/qq.gif" />
            <img src="/images/login/renren.gif" />
            <img src="/images/login/douban.gif" /> </p>
        <p><input type="button" value=" 新用户注册 " class="btn btn-danger form-control"></p>
    </section>
</div>