<!DOCTYPE html>
<html lang="zh-CN">
<header>
<% include ../common/header.ejs %>
</header>
<link href="/css/contest.css" rel="stylesheet">
<body>
<% include ../common/navbar.ejs %>
<% include ../common/login.ejs %>
<div class="container contest_container">
    <div class="row">
        <div class="contest_body col-md-8 ">
        <img id="contest_image" src="/images/unionpay.png">

        <h1 class="contest_body_title">全民付UI设计大赛</h1>
        <section class="contest_body_content">
            <p>1998 年，NHK 的吉祥物 Domo
                君出生在日本的一个洞穴里。作为摇滚和电视的死忠粉，有着棕色方形身体和八颗牙标准笑容的 Domo 君在全世界都收到了多多的喜爱，甚至通过七十二变成为大家身边的抱枕、钱包、钥匙扣等各式各样的小玩意儿。</p>

            <p>而现在，知乎重金悬赏属于自己的吉祥物，让你笔下的「它」像 Domo
                君一样集万千宠爱的机会近在眼前。小家伙可萌得令人发指，也可帅到没有朋友，但请一定要独一无二。最好还是个万能的小超人，变装无敌，能在任何需要它的时候，义无反顾地现身。</p>

            <p>
                如果你也满怀憧憬，何不在北风呼呼的晚上窝在暖和的家里，点一盏温柔的灯，趴在工作台上一笔一划地描绘出小家伙的轮廓。从圣诞到元旦，从春节到情人节，守护着「它」由模糊不清的草稿，慢慢成长为你所期盼的样子。与认真相伴的冬日，似乎也没那么冷了。</p>

            <p>这个冬天，期盼知乎吉祥物破壳而出的那一刻。</p>

            <p>也期盼知乎吉祥物，能温暖未来的每一个冬天。<br><br></p>

            <h1><b>大赛作品展示页</b></h1>

            <p><a href="http://www.zhihu.com/site/mascot/" class="internal">知乎吉祥物设计大赛</a><br></p>

            <h1><b>大赛时间</b></h1><img src="http://p2.zhimg.com/a3/59/a3591903324dccb7f4412a55173932a5_m.jpg"
                                     data-rawwidth="2352" data-rawheight="391" class="origin_image zh-lightbox-thumb"
                                     width="2352"
                                     data-original="http://p2.zhimg.com/a3/59/a3591903324dccb7f4412a55173932a5_r.jpg"><br>

            <h1><b>奖项设置</b></h1><img src="/images/award.jpg">

            <p>点击查看：<a href="http://estore.wacom.com.cn/ProductDetail.aspx?ProductId=100500" class=" wrap external"
                       target="_blank" rel="nofollow">Wacom 影拓Pro PTM 介绍<i class="icon-external"></i></a></p><br><br>

            <h1><b>作品要求 </b></h1>
            <ol>
                <li>设计需符合知乎的品牌形象，具有拟人化特征，能得到知友们的普遍认同。<br></li>
                <li>在表现形式和技术手段上，适用于平面、立体和电子媒介的传播和再创作。<br></li>
                <li>设计风格和类型不限，但应符合中国法律和中国社会公序良俗的要求。<br></li>
                <li>形象设计可以抽象，也可以具象，具有独特性、唯一性，区别于其它吉祥物。<br></li>
                <li>需为吉祥物命名，名称易于记忆和传播，具独特意义且无歧义。另外需设定吉祥物的人格化特征，如性格、爱好、习惯等，在此基础上可通过文字版的人物小剧场、小故事突出其特征。<br></li>
                <li>吉祥物应造型多变，方便印刷及制作毛绒玩具、模型、特许商品等延伸展示产品，并具备灵活性和商业开发价值。<br></li>
                <li>应征作品为原创作品，此前未以任何形式发表过，也未以任何方式为公众所知。 一旦发现抄袭作品，立即取消比赛资格并在展示页面予以说明。<br></li>
            </ol>
            <br><br>

            <h1><b>提交方式 </b></h1>
            <ul>
                <li>作者需为知乎用户</li>
                <li>提交内容包括 三视图、周边产品设计、文字版的作品介绍（包括名称、性格、爱好等设定）、作者信息（姓名、知乎个人主页链接、作者个人简介）<br></li>
                <li>提交素材存为 RGB 模式，分辨率为 300 dpi 的 JPG 格式图片。作者需保留作品源文件<br></li>
                <li>在 2014 年 2 月 14 日晚24:00前将需提交材料打包发送至 <b><a href="mailto:mascot@zhihu.com" class="internal">mascot@zhihu.com</a></b><br>
                </li>
            </ul>
            <br><br>

            <h1><b>大赛流程 </b></h1>

            <p><u>a) 提交作品<br></u>时间：2013 年 12 月 12 日 —— 2014 年 2 月 14 日<br>介绍：参赛者将作品材料发送至参赛邮箱 <b><a
                            href="#" class="internal"><span class="invisible">mailto:</span><span
                                class="visible">mascot@zhihu.com</span><span class="invisible"></span></a></b> 。</p>

            <p><u>b) 知友在线投票<br></u>时间：2014 年 2 月 17 日 —— 2014 年 2 月 21 日<br>介绍：大赛作品展示页面将展出符合要求的参赛作品，知友进行网络投票。所有符合大赛要求作品的作者都将得到纪念奖一份。
            </p>

            <p><u>c) 专业知友评分<br></u>时间：2014 年 2 月 24 日 —— 2014 年 2 月 25 日<br>介绍：由专业知友对参赛作品进行集体评分。</p>

            <p><u>d) 结果宣布<br></u>时间：2014 年 2 月 28 日<br>介绍：对最终获奖作品进行发布，公布获奖作者名单。</p><br><br>

            <h1><b>专业知友</b></h1><img src="http://p2.zhimg.com/90/f7/90f72493934e2ce06b9e86db5b76bbfe_m.jpg"
                                     data-rawwidth="3579" data-rawheight="6937" class="origin_image zh-lightbox-thumb"
                                     width="3579"
                                     data-original="http://p2.zhimg.com/90/f7/90f72493934e2ce06b9e86db5b76bbfe_r.jpg"><br>
        </section>

        </div>
        <div class="contest_side col-md-3">
            <button class="btn btn-primary" >关注</button>

            <div class="contest_side_text">

                <a href="#"><strong>845</strong></a>
                人关注该比赛

            </div>

            <div class="contest_side_imagelist">

                <img src="/images/user_avatar.jpg" class="contest_side_image">

                <img src="/images/user_avatar.jpg" class="contest_side_image">

                <img src="/images/user_avatar.jpg" class="contest_side_image">

                <img src="/images/user_avatar.jpg" class="contest_side_image">

                <img src="/images/user_avatar.jpg" class="contest_side_image">

                <img src="/images/user_avatar.jpg" class="contest_side_image">

                <img src="/images/user_avatar.jpg" class="contest_side_image">

                <img src="/images/user_avatar.jpg" class="contest_side_image">

                <img src="/images/user_avatar.jpg" class="contest_side_image">

                <img src="/images/user_avatar.jpg" class="contest_side_image">

            </div>

            </div>
        </div>
</div>

<% include ../common/javascripts.ejs %>

<script type="text/javascript">
    jQuery(function($){
        $(document).ready(function(){
            $('.contest_side').pin({
                containerSelector:".contest_container"
            });
            $('#nav-item-contest').addClass("active");
        });
    });
</script>
</body>
<% include ../common/footer.ejs %>
</html>
